h1.aboutMe {
	font-family: "Arial", Helvetica, sans-serif;
	text-align: center;
	color: rgb(202, 28, 207);
	font-size: 60px;
	letter-spacing: 100px;
	text-decoration: underline;
	
}
	

#bigOrange {font-family: "Arial", Helvetica, sans-serif; 
	font-size: 45px; color: orange; 
	text-shadow: -3px 2px gray;}

.center {
	text-align: center;
	display: block;
	margin: auto;
}

.white {color: white;}

.gray {color: gray}

.italics {
	font-style: italic;
	text-align: center;
}

.boldAndBrash{
	font-style: oblique;
	font-size: 1.5em;
	color: rgb(255, 204, 126);
	
}

.space{
	background-image: url("space.jpg");
	background-repeat: no-repeat;
	
}
	
.solidBorder{
	border-style: solid;
	border-color: rgb(14, 37, 131);
	border-radius: 8px;
	width: 400px;
	height: 30%;
	background-color: rgb(202, 28, 207);
	padding-left: 10px;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.navStyle {
	background-color: rgb(14, 37, 131);
	border-color: rgb(14, 37, 131);
}

.navText{
	color:rgb(202, 28, 207);
}
/*
ul {
	overflow: hidden;
	list-style-type: none;
	background-color: rgb(14, 37, 131);
	height: 40px;

} 
li {float: left;}
li a {
	display: block;
	text-align: center;
	height: 40px;
	padding: 5px 0;
	color: rgb(202, 28, 207);
	font-size: 20px;
}
li a:hover {
	background-color: rgb(202, 28, 207);
	text-decoration: none;
}
*/
img#profile {
	
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-repeat: no-repeat;
	position: relative;
	left: 890px;
	bottom: 250px;
}

iframe#toast {
	display: block;
	margin: auto;
	padding-top: 20px;
	
}

#textBox {
	max-height: 100px;
	max-width: 300px;
	min-height: 100px;
	min-width: 300px;
}


div a {
	color: rgb(202, 28, 207);
}
div a:hover {
	color: rgb(14, 37, 131);
	text-decoration: none;
}

footer{
background-color: rgb(14, 37, 131);
}

head{
	background-color: transparent;
}
body{
	background-color: transparent;
}
article{
	background-color: transparent;
}